.NameBar {
    background-color: rgb(25, 25, 25);
    color: white;
    padding: 1vw;
    top: 0;
    z-index: 5;
    margin:0%;

}

.NameText {
    font-family: UbuntuBold;
    font-size: 2vw;
}

.NavBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(25, 25, 25);
}

.NavItem {
    transition:0.3s;
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 1vw;
    text-decoration: none;
}

.RightNavItem {
    transition:0.3s;
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 1vw;
    text-decoration: none;
}

.RightNavImage {
    width: 1vw;
    vertical-align: middle;
    padding-right: 0.5vw;
    height:auto;
}

.RightNavItem:hover {
    transition:0.3s;
    background-color: black;
    cursor: pointer;
}

.NavItem:hover {
    transition:0.3s;
    background-color: black;
    cursor: pointer;
}

.IntroductionBanner {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
    margin-top: 0%;
    width:100%;
    height:40vw

}

.IntroBannerText {
    float: right;
    font-size: 3vw;
    color:white
}

.PortfolioHeadshot {
    width: 25vw;
    border-radius: 5vw;
    float: right;
    margin-bottom:3%;
    margin-right: 7%;
    height: auto;
}

.Welcome {
    width: 100%;
    height: auto;
}

.OverviewPanel {
    width:50%;
    height: 25vw;
    margin-bottom:1.5vw;
    float: left;
    background-color: rgb(25, 25, 25);
    vertical-align: bottom;
}

.InterestsPanel {
    width: 50%;
    height: 25vw;
    margin-bottom:1.5vw;
    float:right;
    background-color: rgb(25, 25, 25);
}

.OverviewPanelContent {
    padding: 2vw;
}

.InterestsPanelContent {
    padding: 2vw;
}

.MySkillsPanel {
    background-color: black;
    width:100%;
    height:auto;
}

.MySkillsHeading {
    text-align: center;
    padding:0.01vw;
}

.SkillsGallery {
    float:left;
    width:25%;
    text-align: center;
    background-color: black;
}

.SkillsGalleryDescription {
    text-align: center;
    padding:1vw
}

.SkillsGalleryImg {
    width:15vw;
    height:auto;
}

.MyToolsPanel {
    background-color: rgb(25, 25, 25);
    width:100%;
    height:auto;
}

.MyToolsHeading {
    text-align: center;
}

.ProgramGallery {
    background-color: rgb(25, 25, 25);
    text-align: center;
}

.Programs {
    display: inline-block;
    padding:2%;
    width: 10%;
    height: auto;
}

.MyPortfolioPanel {
    background-color: black;
    width:100%;
    height:auto;
}

.MyPortfolioHeading {
    text-align: center;
    padding:0.01vw;
}

.Portfolio {
    background-color: black;
}


.PortfolioItem {
    position: relative;
    width:25%;
    float: left;
}

.PortfolioImage {
    display: block;
    width:100%;
    height: auto;
}

.PortfolioItemOverlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.2s;
    background-color: rgba(0,0,0,0.5);
}

.PortfolioItemDescription a {
    color: white;
    font-size: 2vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.PortfolioItemOverlay:hover {
    opacity: 1;
}

.Footer {
    text-align: center;
    background-color: rgb(25, 25, 25);
    color: white;
    font-size: 1.2vw;
}