@font-face {
    font-family: Couture;
    src: url(../fonts/couture.otf);
}

@font-face {
    font-family: UbuntuMedium;
    src: url(../fonts/ububtumedium.ttf);
}

@font-face {
    font-family: UbuntuLight;
    src: url(../fonts/ubuntulight.ttf);
}

@font-face {
    font-family: UbuntuBold;
    src: url(../fonts/ubuntubold.ttf);
}

html, body, head {
    margin: 0%;
    padding: 0%;
}

p, a, h1, div, td {
    font-family: UbuntuMedium;
    font-size: 1vw;
}